# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [3]:
import pandas as pd
import numpy as np

# Seu código aqui
anomalia = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
serie_pandas = pd.Series(data=anomalia)
serie_pandas

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [12]:
anos = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
# seu código aqui
serie_pandas_com_anos = pd.Series(data=anomalia, index=anos)
serie_pandas_com_anos

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [14]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
serie_pandas_dict = pd.Series(dic_temperaturas)
serie_pandas_dict

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [46]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
df = pd.DataFrame(data=arr)
df

             0           1           2
0   121.062247   90.806237   89.869263
1    98.584145  114.223377  109.675432
2   114.995858   99.592885  101.247272
3    91.037486   95.358123  105.132058
4    84.131148   97.550427   97.506019
5   108.899440   97.676755  100.483381
6   115.795206  102.763921  108.401412
7    99.611905   81.124393   92.788112
8   102.599327   98.678812  101.675352
9   103.289652  118.950645   99.385336
10   98.265309   93.254628   87.615752
11  100.403248   91.625895  121.474917
12  108.086636   91.624053  107.236652
13  115.674103  105.170266   96.080971
14  111.473463  106.238218   86.706236
15  102.413358   92.705491  100.768065
16  107.341479  101.553476   94.185287
17  105.103349  102.884774   96.089107
18   90.636568   96.268568   92.850492
19   96.543274  106.987369  107.793454

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [56]:
#seu código aqui
df.index = np.arange(1, len(df) + 1)
df.rename(columns={0: 'x1', 1: 'x2', 2: 'x3'}, inplace=True)
df

            x1          x2          x3
1   121.062247   90.806237   89.869263
2    98.584145  114.223377  109.675432
3   114.995858   99.592885  101.247272
4    91.037486   95.358123  105.132058
5    84.131148   97.550427   97.506019
6   108.899440   97.676755  100.483381
7   115.795206  102.763921  108.401412
8    99.611905   81.124393   92.788112
9   102.599327   98.678812  101.675352
10  103.289652  118.950645   99.385336
11   98.265309   93.254628   87.615752
12  100.403248   91.625895  121.474917
13  108.086636   91.624053  107.236652
14  115.674103  105.170266   96.080971
15  111.473463  106.238218   86.706236
16  102.413358   92.705491  100.768065
17  107.341479  101.553476   94.185287
18  105.103349  102.884774   96.089107
19   90.636568   96.268568   92.850492
20   96.543274  106.987369  107.793454

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [58]:
# seu código aqui
df['media'] = (df['x1'] + df['x2'] + df['x3']) / 3
df

            x1          x2          x3       media
1   121.062247   90.806237   89.869263  100.579249
2    98.584145  114.223377  109.675432  107.494318
3   114.995858   99.592885  101.247272  105.278672
4    91.037486   95.358123  105.132058   97.175889
5    84.131148   97.550427   97.506019   93.062532
6   108.899440   97.676755  100.483381  102.353192
7   115.795206  102.763921  108.401412  108.986846
8    99.611905   81.124393   92.788112   91.174803
9   102.599327   98.678812  101.675352  100.984497
10  103.289652  118.950645   99.385336  107.208544
11   98.265309   93.254628   87.615752   93.045230
12  100.403248   91.625895  121.474917  104.501353
13  108.086636   91.624053  107.236652  102.315781
14  115.674103  105.170266   96.080971  105.641780
15  111.473463  106.238218   86.706236  101.472639
16  102.413358   92.705491  100.768065   98.628972
17  107.341479  101.553476   94.185287  101.026747
18  105.103349  102.884774   96.089107  101.359077
19   90.636568   96.268568   92.850492   93.251876
20   96.543274  106.987369  107.793454  103.774699

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [60]:
# seu código aqui
df['log_medio'] = np.log(df['media'])
df

            x1          x2          x3       media  log_medio
1   121.062247   90.806237   89.869263  100.579249   4.610946
2    98.584145  114.223377  109.675432  107.494318   4.677438
3   114.995858   99.592885  101.247272  105.278672   4.656611
4    91.037486   95.358123  105.132058   97.175889   4.576523
5    84.131148   97.550427   97.506019   93.062532   4.533272
6   108.899440   97.676755  100.483381  102.353192   4.628430
7   115.795206  102.763921  108.401412  108.986846   4.691227
8    99.611905   81.124393   92.788112   91.174803   4.512779
9   102.599327   98.678812  101.675352  100.984497   4.614967
10  103.289652  118.950645   99.385336  107.208544   4.674776
11   98.265309   93.254628   87.615752   93.045230   4.533086
12  100.403248   91.625895  121.474917  104.501353   4.649200
13  108.086636   91.624053  107.236652  102.315781   4.628064
14  115.674103  105.170266   96.080971  105.641780   4.660054
15  111.473463  106.238218   86.706236  101.472639   4.619789
16  102.413358   92.705491  100.768065   98.628972   4.591365
17  107.341479  101.553476   94.185287  101.026747   4.615385
18  105.103349  102.884774   96.089107  101.359077   4.618669
19   90.636568   96.268568   92.850492   93.251876   4.535304
20   96.543274  106.987369  107.793454  103.774699   4.642222